{% extends "ask/base.html" %}
{% load static %}

{% block title %}New Question{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'ask/questions.css' %}" type="text/css">{% endblock %}

{% block main-content %}
<h3 class="pb-3 mb-3 mr-2 main-header">
    New Question
</h3>
{% comment %} <form class="basic-form">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-group row mt-5">
        <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-default">Ask!</button>
        </div>
    </div>
</form> {% endcomment %}

{{ form.non_field_errors }}
<form class="form-horizontal" action="" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label class="control-label col-sm-2" for="{{ form.title.id_for_label }}">Title:</label>
        {{ form.title.errors }}
        <div class="col-sm-10">
            {{form.title}}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="{{ form.text.id_for_label }}">Question:</label>
        {{ form.text.errors }}
        <div class="col-sm-10">
            {{form.text}}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="{{ form.tags.id_for_label }}">Tags:</label>
        {{ form.tags.errors }}
        <div class="col-sm-10">
            {{form.tags}}
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Ask!</button>
        </div>
    </div>
    {% else %}
    <li class="px-2 ml-1 mt-2"><a href="{% url 'login' %}">Please login to answer</a></li>
    {% endif %}

</form>
{% endblock %}