{% extends "ask/base.html" %}
{% load static %}

{% block title %}New Question{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'ask/questions.css' %}" type="text/css">{% endblock %}

{% block main-content %}
<h3 class="pb-3 mb-3 mr-2 main-header">
    Registration
</h3>

<form class="form-horizontal" action="/action_page.php">
    <div class="form-group">
        <label class="control-label col-sm-2" for="login">Login:</label>
        <div class="col-sm-10">
            <input type="" class="form-control" id="login" placeholder="dr. pepper">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="email">Email:</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email" placeholder="pepper@mail.ru">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="nickname">Nickname:</label>
        <div class="col-sm-10">
            <input type="" class="form-control" id="nickname" placeholder="hate_cola">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="password">Password:</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="password" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="rep_password">Repeat Password:</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="rep_password" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="avatar">Select Avatar:</label>
        <div class="col-sm-10">
                <input type="file" name="avatar" id="fileToUpload">
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Register!</button>
        </div>
    </div>
</form>
{% endblock %}